<% query_options = nil unless defined?(query_options) %>
<% query_options ||= {} %>

<%= form_tag({}, :data => {:cm_url => project_test_case_execution_list_context_menu_path}) do -%>
  <%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>
  <%= query_columns_hidden_tags(query) %>
  <div class="autoscroll">
  <table id="test_case_executions_list" class="list test_case_executions odd-even <%= query.css_classes %>">
    <thead>
      <tr>
        <th class="checkbox hide-when-print">
          <%= check_box_tag 'check_all', '', false, class: 'toggle-selection',
              title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
        </th>
        <% query.inline_columns.each do |column| %>
          <%= column_header(query, column, query_options) %>
        <% end %>
        <th class="buttons"></th>
      </tr>
    </thead>
    <tbody>
      <% test_case_executions.each do |test_case_execution| -%>
        <tr id="test-case-execution-<%= test_case_execution.id %>" class="hascontextmenu <%= cycle('odd', 'even') %>">
          <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", test_case_execution.id, false, id: nil) %></td>
          <% query.inline_columns.each do |column| %>
            <% if [:scenario, :expected, :test_case].include?(column.css_classes) %>
              <%= content_tag('td', column_content(column, test_case_execution), :class => column.css_classes, :style => "text-align: left;") %>
            <% else %>
              <%= content_tag('td', column_content(column, test_case_execution), :class => column.css_classes) %>
            <% end %>
          <% end %>
          <td class="buttons"><%= link_to_context_menu %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  </div>
<% end -%>

<% context_menu %>
