<div class="contextual">
  <% if @test_plan_given %>
    <%= link_to l(:label_test_case_new),
                (@test_plan ? new_project_test_plan_test_case_path : new_project_test_plans_path),
                :class => "icon icon-add new-issue" %>
  <% else %>
    <%= link_to l(:label_test_case_new),
                 new_project_test_case_path,
                 :class => "icon icon-add new-issue" %>
  <% end %>
  <%= actions_dropdown do %>
    <% if User.current.allowed_to?(:add_test_cases, @project, :global => true) %>
      <%= link_to l(:button_import),
                  new_test_cases_import_path(:project_id => @project),
                  :class => "icon icon-import" %>
    <% end %>
    <%= link_to l(:label_test_case_statistics),
                project_test_case_statistics_path,
                :class => "icon icon-stats" %>
  <% end %>
</div>

<h2 class="inline-flex"><%= breadcrumb %><%=l(:label_test_cases)%></h2>

<% if @test_plan_given %>
  <%= form_tag(project_test_plan_test_cases_path, :method => :get, :id => 'query_form') do %>
    <%= render :partial => 'queries/query_form' %>
  <% end %>
<% else %>
  <%= form_tag(project_test_cases_path, :method => :get, :id => 'query_form') do %>
    <%= render :partial => 'queries/query_form' %>
  <% end %>
<% end %>

<% if @query.valid? %>
  <% if @test_cases.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => "test_cases/list", :locals => {:test_cases => @test_cases, :query => @query} %>
    <span class="pagination"><%= pagination_links_full @test_case_pages, @test_case_count %></span>
  <% end %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '350px'); return false;" %>
<% end %>

<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= form_tag(@csv_url, :method => :get, :id => 'csv-export-form') do %>
  <%= query_as_hidden_field_tags(@query) %>
  <%= export_csv_encoding_select_tag %>
  <% if @test_case_count > @test_cases_export_limit %>
  <p class="icon icon-warning">
    <%= l(:settings_test_cases_export_limit) %>: <%= @test_cases_export_limit %>
  </p>
  <% end %>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);", :data => { :disable_with => false } %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>
  <% end %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'test_cases/sidebar' %>
<% end %>
