<h2 class="inline-flex"><%= breadcrumb %><%= l(:label_test_case_new) %></h2>

<%= form_with model: @test_case, url: (@test_plan_given ? project_test_plan_test_cases_path : project_test_cases_path) do |f| %>
  <%= render partial: 'test_cases/form', locals: {form: f} %>
  <%= f.submit l(:button_create) %>
  <%= f.submit l(:button_create_and_continue), name: 'continue' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_cases/sidebar' %>
<% end %>
