<div class="contextual">
  <%= link_to l(:label_test_plan_new),
              new_project_test_plan_path(@project),
              :class => "icon icon-add new-issue" %>
  <%= actions_dropdown do %>
    <% if User.current.allowed_to?(:add_test_plans, @project, :global => true) %>
      <%= link_to l(:button_import),
                  new_test_plans_import_path(:project_id => @project),
                  :class => "icon icon-import" %>
    <% end %>
    <%= link_to l(:label_test_plan_statistics),
                project_test_plan_statistics_path,
                :class => "icon icon-stats" %>
  <% end %>
</div>

<h2 class="inline-flex"><%=l(:label_test_plans)%></h2>

<%= form_tag(project_test_plans_path, :method => :get, :id => 'query_form') do %>
  <%= render :partial => 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @test_plans.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => "test_plans/list", :locals => {:test_plans => @test_plans, :query => @query} %>
    <span class="pagination"><%= pagination_links_full @test_plan_pages, @test_plan_count %></span>
  <% end %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '350px'); return false;" %>
<% end %>

<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= form_tag(@csv_url, :method => :get, :id => 'csv-export-form') do %>
  <%= query_as_hidden_field_tags(@query) %>
  <%= export_csv_encoding_select_tag %>
  <% if @test_plan_count > @test_plans_export_limit %>
  <p class="icon icon-warning">
    <%= l(:settings_test_plans_export_limit) %>: <%= @test_plans_export_limit %>
  </p>
  <% end %>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);", :data => { :disable_with => false } %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>
  <% end %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'test_plans/sidebar' %>
<% end %>
